################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workshop.Web/wwwroot/img/users/66b1ea14-8f0b-4e80-9878-935cbc129fc0.jpg
/Workshop.Web/wwwroot/img/users/68cfd76e-00fd-41d0-9397-e2588c6993c2.jpg
