@model Workshop.Web.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<h2>ChangeUser</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">User Type</label>
                @if (User.IsInRole("Admin"))
                {
                    <label>Admin</label>
                }
                else if (User.IsInRole("Mechanic"))
                {
                    <label>Mechanic</label>
                }
                else if (User.IsInRole("Worker"))
                {
                    <label>Worker</label>
                }
                else if (User.IsInRole("Client"))
                {
                    <label>Client</label>
                }
                <span asp-validation-for="LastName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
                <a asp-action="Profile" class="btn btn-primary">Return to Profile</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
