@model Workshop.Web.Data.Entities.Car

@{
    ViewData["Title"] = "Appoint Repair";
}

<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />

<h1>Appoint Repair for car @Model.Name</h1>

<div id="calendar"></div>

<div id="calendarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>Appoint Repair</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p><b>Appointment Description</b></p>
                <input id="repairDescription" class="form-control" />
                <br />
                <p id="repairDate"></p>
                <p id="date"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AppointRepair()">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script>

        var calendar;

        document.addEventListener("DOMContentLoaded", function () {
            var calendarEl = document.getElementById("calendar");
            calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
                dateClick: function (info) {
                    var todayDate = new Date();
                    var clickedDate = Date.parse(info.dateStr);
                    if(clickedDate > todayDate.getTime()){
                        $("#calendarModal #repairDate").empty().html("Are you sure you want to appoint a repair to " + info.dateStr);
                        $("#calendarModal #date").empty().html(info.dateStr);
                        $("#calendarModal #date").hide();
                        $("#calendarModal").modal();
                    }
                }
            });

            $.ajax({
                type: "POST",
                url: "/API/Schedule/GetSchedules",
                data: JSON.stringify({ userEmail: "@User.Identity.Name" }),
                contentType: "application/json;",
                success: function (data) {
                    $.each(data, function (i, v) {
                        var color;
                        if(v.IsConfirmed){
                            color = "green";
                        }
                        else{
                            color = "red";
                        }
                        calendar.addEvent({
                            id: v.id,
                            title: v.car.carName,
                            description: v.description,
                            price: v.price,
                            start: moment(v.startDate).format(),
                            startDate: v.startDate,
                            allDay: true,
                            backgroundColor: color,
                            borderColor: color,
                        }); 
                    });
                }
            })
            calendar.render();

        });

        function AppointRepair() {
            $.ajax({
                type: "POST",
                url: "/API/Schedule/AddSchedule",
                data: JSON.stringify({ Description: $("#repairDescription").val(), Date: $("#date").text(), CarId: @Model.Id }),
                contentType: "application/json;",
                success: function () {
                    $.ajax({
                        type: "POST",
                        url: "/API/Schedule/GetSchedules",
                        data: JSON.stringify({ userEmail: "@User.Identity.Name" }),
                        contentType: "application/json;",
                        success: function (data) {
                            calendar.removeAllEvents();
                            $.each(data, function (i, v) {
                                calendar.addEvent({
                                    id: v.id,
                                    title: v.car.carName,
                                    description: v.description,
                                    price: v.price,
                                    start: moment(v.startDate).format(),
                                    startDate: v.startDate,
                                    allDay: true,
                                    backgroundColor: "red",
                                    borderColor: "red",
                                });
                            });
                            $("#calendarModal").modal("hide");
                        }
                    })
                    calendar.render();
                }
            })
        }

    </script>
}


